[submodule "libraries/DS1307-RTC-library"]
	path = libraries/DS1307-RTC-library
	url = https://github.com/UAlberta-EcoCar/DS1307-RTC-library.git
[submodule "libraries/Can_messages"]
	path = libraries/Can_messages
	url = https://github.com/UAlberta-EcoCar/Can_messages.git
