[submodule "libraries/DS1307-RTC-library"]
	path = libraries/DS1307-RTC-library
	url = https://github.com/UAlberta-EcoCar/DS1307-RTC-library.git
[submodule "libraries/mcp2515_lib"]
	path = libraries/mcp2515_lib
	url = https://github.com/UAlberta-EcoCar/mcp2515_lib.git
